
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-up-circle:before { content: '\e808'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */